
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}


body {
	font-family: "Roboto";
}

h2 {
	color: #000000;
	font-size: 24px;
	font-weight: 100;
	line-height: 26px;
	margin: 20px 0;
}

.container {
	display:flex;
	aside {
		width: 300px;
		background-color: #242b2e;
		min-height: 100vh;
		height: 100%;
		position: fixed;
		overflow-y: auto;
		.logo {
			height: 125px;
			background: #fff;
			display: flex;
		    justify-content: center;
		    align-items: center;
		}
		.nav li {
		    background-color: #2f373b;
		    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.02) 0%, rgba(255, 255, 255, 0.02) 100%);
		    text-align: right;
		    padding: 15px 24px;
		    a {
			    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
			    color: #ffffff;
			    font-family: Roboto;
			    font-size: 18px;
			    font-weight: 300;
			    line-height: 32px;
			    text-transform: uppercase;
			    text-decoration:none;
		    }
		    &:hover {
			    background-color: #1ab5b3;
				background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.1) 100%);
		    }
		}
		.filter {
			text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
			color: #1ab5b3;
			font-family: Roboto;
			font-size: 19px;
			font-weight: 100;
			line-height: 32px;
			text-align: right;
		}
		.footer li {
		    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
		    font-family: Roboto;
		    font-size: 13px;
		    font-weight: 300;
		    line-height: 24px;
		    color: #6b7072;
		    text-align: right;
		    padding-right: 24px;
		}
		.list-icons {
			li {
				display: inline-block;
			}
		}
		.copyright {
			color: #6b7072;
			font-family: Roboto;
			font-size: 12px;
			font-weight: 100;
			line-height: 25px;
			text-align: center;
		}
	}
	main {
		width: 100%;
		margin-left: 300px;
		display: flex;
		flex-wrap: wrap;
		.picture-item {
		    width: 25%;
    		height: 311px; 
    		overflow: hidden;
		}
	}
}

@media screen and (max-width:1024px) {
	.container main .picture-item {
		width: 33.3%;
	}
}

@media screen and (max-width:840px) {
	.container main .picture-item {
		width: 50%;
	}
}

@media screen and (max-width:520px) {
	.container main .picture-item {
		width: 100%;
	}
}

/* about page */ 

.content {
	display:flex;
	padding-top:30px;
	> div {
	    display: flex;
   		flex: 1;
   		flex-direction: column;
   		padding: 0 30px 30px;
	}
	.about_bar_item-text {
		display:flex;
		justify-content:space-between;
		padding: 8px 0;
		h3 {
			color: #727272;
			font-size: 15px;
			font-weight: 300;
			line-height: 26px;
		}
		span {
			color: #000000;
			font-size: 14px;
			font-weight: 600;
			line-height: 26px
		}
	}
	.about_services {
	    margin-left: 30px;
		li {
			color: #848484;
			font-size: 14px;
			font-weight: 300;
			line-height: 28px;
    		list-style-type: disc;
    	}
	}
	.about_testimonials {
		border: 1px solid #ececec;
		.testi_person {
			display: flex;
			background-color: #1ab5b3;
			img {
			    max-height: 80px;
			}
			div {
				display: flex;
				align-items: center;
				color: #ffffff;
				font-size: 15px;
				font-style: italic;
				line-height: 26px;
				padding-left: 23px;
			}
		}
		.testi-description {
			color: #a3a3a3;
			font-size: 18px;
			font-weight: 300;
			line-height: 30px;
			padding: 30px;
		}
	}
	.about_left-col {
		border-right: 1px solid #d8d8d8;
		img {
			max-width: 100%;
		}
		.parent-dragon {
			max-height:302px;
			overflow:hidden;
		}
		.about_left-col-grid-image {
		    display: flex;
		    flex-wrap: wrap;
		    > div {
		    	width: 31%;
		    	margin: 1%;
		    }
		}
	}
}

